<div id="faq-container"></div>
<script type="text/x-handlebars-template" id="faq-template">
  <div class="faq-container">
    {{#each items}}
      <div class="faq-item bg-white rounded-xl py-4 px-6">
        <div class="faq-header flex justify-between items-center">
          <div class="flex items-center gap-4">
            <span class="count">{{position}}</span>
            <span class="text-lg font-semibold">{{question}}</span>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down-icon lucide-chevron-down"
            >
              <path d="m6 9 6 6 6-6" />
            </svg>
          </div>
        </div>
        <div class="faq-content mt-4">
          {{#if link}}
            <p>
              {{{answer}}}
              <div class="mt-6 mb-2">
                <a
                  target="_blank"
                  href="{{link.url}}"
                  class="h-12 text-base border px-6 py-2 rounded-full font-semibold transition-all duration-200"
                >
                  {{link.label}}
                </a>
              </div>
            </p>
          {{else}}
            <p>{{{answer}}}</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</script>