<div class="h-[1000px] bg-red-300" id="day-trade-container"></div>

<div class="bg-amber-100 h-[1000px]"></div>

<div id="start-plan-selection-section"></div>

<div class="bg-black h-[1300px]"></div>

<div id="end-plan-selection-section"></div>
<div class="bg-amber-100 h-[1000px]"></div>
<div class="bg-amber-400 h-[1000px]"></div>

<div data-visible="false" id="floating-cta"
  class="bg-white z-50 lg:border-t-4 border-gray-200 bottom-0 fixed lg:p-4 left-0 right-0 data-[visible=false]:bottom-[-100px] transition-all duration-300">
  <div class="custom-container justify-between items-center flex">
    <div class="text-lg font-semibold mt-1 hidden lg:!block">
      Serviço e atendimento de day trading que supera corretoras.
    </div>
    <button id="floating-cta-button"
      class="w-full !rounded-none py-2 !h-auto lg:w-auto lg:!rounded-full px-8 lg:!py-2 lg:!text-base button-primary">
      Comece agora
    </button>
  </div>
</div>