<div
  style="
    background-image: url('https://irp.cdn-website.com/a02461d5/dms3rep/multi/Wallpaper-2caf6f91-2d502ede.png');
  "
  class="text-white py-20 lg:py-32 hero-bg border-0 border-solid border-b-8 border-[#1c1c1c]"
>
  <div class="custom-container grid grid-cols-1 lg:grid-cols-2 px-4">
    <div class="order-2 lg:order-0">
      <h1
        id="hero-title"
        class="text-4xl md:text-5xl lg:leading-16 h-[124px] lg:h-[200px] lg:text-6xl font-semibold mb-8"
      >
        <span class="text-1 hero-line text-white is-active"
          >Usar seu dinheiro <br />
          no Day Trade é<br />
          passado.</span
        >
        <span class="text-2 hero-line text-white is-inactive"
          >Faça Day Trade <br />
          utilizando nosso<br />
          capital.</span
        >
      </h1>
      <p class="text-lg md:text-xl text-balance leading-9 font-normal mb-8">
        Receba até 100 mil reais para operar, plataforma <br />gratuita para
        sempre, assessoria especializada e <br />gestão de risco profissional.
      </p>
      <div class="flex flex-col lg:flex-row gap-8 mb-8">
        <div>
          <div class="text-[#fe5904] font-bold text-3xl">R$ 12 milhões</div>
          <div class="text-xl">distribuidos em 2024</div>
        </div>
        <div>
          <div class="text-[#fe5904] font-bold text-3xl">15 mil traders</div>
          <div class="text-xl">em um ecossistema integrado</div>
        </div>
      </div>
      <button class="button-primary px-12" id="hero-cta--buton">
        Comece agora
      </button>
    </div>
    <div class="flex h-[300px] lg:h-auto items-center justify-center">
      <div class="box-hero-container">
        <a class="video-play-hero-button" href="#">
          <span></span>
        </a>
      </div>
    </div>
  </div>
</div>
