.day-trade {
  padding: 120px 0;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 12%,
    rgba(201, 223, 253, 1) 100%
  );
}

.day-trade-header.day-trade-title {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 16px;
}

.day-trade-description {
  font-size: 16px;
}

.day-trade .swiper {
  overflow: visible;
}

.day-trade-item {
  background-color: #131110;
  border-radius: 20px;
  height: 300px;
  color: #fff;
  padding: 24px;
}

.day-trade-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.day-trade-description {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .day-trade-item {
    height: 400px;
  }
}
