.offers {
}

.offers-header {
  @apply flex gap-6 mb-10;
}

.offers-header--button {
  @apply bg-transparent border border-[#fff] rounded-[12px] font-medium px-6 h-14 inline-flex gap-2 items-center;
}

.offers-list--item {
  @apply flex gap-2 justify-between font-medium text-base;
}

.offers-list--item span {
  @apply font-bold;
}

.offers-list--divider {
  @apply bg-gradient-to-r from-[#404040] to-[#7B7B7B] h-[1px] my-4;
}

.offers-plan-select {
  @apply w-full bg-transparent border border-[#404040] rounded-md p-2 pr-8 appearance-none;
}

.offers-button-cta {
  @apply w-full text-xl;
}
