@layer range-slider-element {
  range-slider {
    --track-size: .2rem;
    --thumb-size: 1.2rem;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    block-size: var(--thumb-size);
    inline-size: 130px;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: none
  }

  range-slider[orientation=vertical] {
    flex-direction: column;
    inline-size: var(--thumb-size);
    block-size: 130px
  }

  range-slider [data-track] {
    pointer-events: none;
    flex: 1;
    block-size: var(--track-size);
    border-radius: inherit;
    box-sizing: inherit
  }

  range-slider[orientation=vertical] [data-track] {
    inline-size: var(--track-size);
    block-size: 100%
  }

  range-slider [data-track-fill] {
    pointer-events: none;
    position: absolute;
    block-size: var(--track-size);
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    box-sizing: inherit
  }

  range-slider[orientation=vertical] [data-track-fill] {
    inline-size: var(--track-size);
    block-size: auto;
    border-start-start-radius: unset;
    border-end-end-radius: inherit
  }

  range-slider [data-runnable-track] {
    pointer-events: none;
    position: absolute;
    inset: 0 calc(var(--thumb-size) / 2);
    box-sizing: inherit
  }

  range-slider[orientation=vertical] [data-runnable-track] {
    inset: calc(var(--thumb-size) / 2) 0
  }

  range-slider [data-thumb] {
    pointer-events: auto;
    touch-action: none;
    inline-size: var(--thumb-size);
    block-size: var(--thumb-size);
    position: absolute;
    margin-inline-start: calc(var(--thumb-size) / 2 * -1);
    box-sizing: inherit
  }

  range-slider[orientation=vertical] [data-thumb] {
    margin-inline-start: unset;
    margin-block: calc(var(--thumb-size) / 2 * -1)
  }

  range-slider {
    border-radius: var(--track-size);
    margin: 2px
  }

  range-slider:active {
    /* opacity: .8 */
  }

  range-slider[disabled] {
    filter: grayscale(1);
    opacity: .4
  }

  range-slider [data-track] {
    background-color: #d3d3d3;
    background-color: ButtonFace
  }

  range-slider [data-track-fill] {
    background-color: #ED903F
  }

  range-slider [data-thumb] {
    background-color: #ED903F;
    border-radius: 100%
  }
}

range-slider {
  --track-size: 0.4rem;
  --thumb-size: 1.4rem;
}

range-slider:not([orientation="vertical"]) {
  inline-size: 100%;
}

range-slider [data-thumb]:has(.value-bubble) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 200ms ease;
  will-change: transform;
}

range-slider [data-thumb] .value-bubble {
  box-sizing: border-box;
  position: absolute;
  padding: 0 12px;
  bottom: 30px;
  /* width: auto; */
  color: white;
  background: #ED903F;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  transition: opacity 200ms ease;
  user-select: none;
  pointer-events: none; 
border-radius: 6px;
}

range-slider:active [data-thumb] {
  transform: scale(1.1);
}