/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.shorts-cases .swiper-button-next,
.shorts-cases .swiper-button-prev {
  background: #000;
}

.shorts-cases .swiper-button-next::after,
.shorts-cases .swiper-button-prev::after {
  color: #fff;
}

.day-trade .swiper-button-next,
.day-trade .swiper-button-prev {
  background: #fff;
}

.day-trade .swiper-button-next::after,
.day-trade .swiper-button-prev::after {
  color: #000;
}

/* .swiper-button-disabled {
  display: none !important;
} */
