.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  &.theme-light {
    &:hover {
      @apply bg-gray-200 cursor-pointer;
    }
  }

  &.theme-dark {
    &:hover {
      @apply bg-white text-white cursor-pointer;
    }
  }
}

.swiper-button-disabled {
  opacity: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}
