<table class="comparison-table">
  <tbody>
    <tr class="comparison-table-row comparison-table-row--first">
      <td class="!text-2xl !py-6 comparison-table-item-left">Sem a 5PI</td>
      <td class="!text-2xl !py-6 comparison-table-item-right">Com a 5PI</td>
    </tr>
    <tr class="comparison-table-row">
      <td class="comparison-table-item-left">
        Você arrisca tudo
        <div>Coloca o seu próprio dinheiro na mesa e reza para não perder.</div>
      </td>
      <td class="comparison-table-item-right">
        Você opera com o nosso capital
        <div>Arrisque o dinheiro com a 5PI, não o seu.</div>
      </td>
    </tr>
    <tr class="comparison-table-row">
      <td class="comparison-table-item-left">
        Você por sua conta
        <div>Perdeu? Azar. A corretora já ganhou.</div>
      </td>
      <td class="comparison-table-item-right">
        Risco controlado pela mesa
        <div>Estratégia e gestão para proteger seu resultado</div>
      </td>
    </tr>
    <tr>
      <td class="comparison-table-item-left">
        Teto baixo de ganhos
        <div>Mesmo se for bom, nunca vai escalar de verdade.</div>
      </td>
      <td class="comparison-table-item-right">
        Crescimento de capital
        <div>Comece com um valor e aumente conforme sua performance</div>
      </td>
    </tr>
    <tr class="comparison-table-row">
      <td class="comparison-table-item-left">
        Simulador Remunerado
        <div>Depende de mais gente pagando para manter quem está dentro.</div>
      </td>
      <td class="comparison-table-item-right">
        Mercado real
        <div>Modelo sustentável que torce por você</div>
      </td>
    </tr>
    <tr class="comparison-table-row comparison-table-row--last">
      <td class="comparison-table-item-left">
        Assessoria genérica
        <div>Fale com um call center que nunca operou na vida</div>
      </td>
      <td class="comparison-table-item-right">
        Assessoria para traders
        <div>Gente que sabe o que acontece em um pregão</div>
      </td>
    </tr>
  </tbody>
</table>
