<div id="video-modal-container"></div>
<script type="text/x-handlebars-template" id="video-modal-template">
  <div
    class="video-modal-overlay fixed inset-0 bg-black/50 bg-opacity-75 flex flex-col items-center justify-center z-50 p-4"
  >
  <button
        class="video-modal-close mb-4 cursor-pointer !rounded-full bg-white w-[32px] h-[32px] flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class-"size-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x-icon lucide-x"
        ><path d="M18 6 6 18" /><path d="m6 6 12 12" /></svg>
      </button>
    <div
      class="video-modal-content bg-transparent rounded-lg overflow-hidden max-w-4xl w-full max-h-[90vh] relative"
    >

      <div class="video-modal-body bg-black p-0">
        <div class="video-wrapper relative pb-[56.25%] h-0 overflow-hidden">
          <iframe
            class="absolute top-0 left-0 w-full h-full"
            src="https://www.youtube.com/embed/{{videoId}}?autoplay=1&rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</script>
