.offers {
}

.offers-header {
  @apply flex gap-4 mb-6 lg:mb-2;
}

.offers-header--button {
  border: 1px solid #cac8bc;
  @apply py-2 px-4 rounded-xl text-white text-left text-lg lg:w-[160px] font-medium cursor-pointer;

  .sup {
    @apply text-sm -mb-1 font-normal;
  }

  &:hover,
  &.active {
    background: linear-gradient(0deg, #545247 0%, #403c37 122.22%);
  }
}

.offers-list--item {
  @apply flex gap-2 mb-2 justify-between font-medium text-base text-[#363636];

  span {
    @apply font-semibold text-black text-nowrap;
  }
}

.offers-plan-select {
  @apply w-full bg-transparent font-medium border border-[#C0C0C0] text-base rounded-md p-2 pl-4 appearance-none;
}

.offers-list--divider {
  @apply bg-[#CDCDCD] h-[1px] !my-4;
}

.offers-swiper-pagination {
  @apply flex gap-2 mt-4 justify-center items-center lg:hidden;

  .swiper-pagination-bullet {
    @apply bg-white size-2 flex rounded-full;

    &.swiper-pagination-bullet-active {
      @apply bg-[#FD5A03] size-3;
    }
  }
}

.offers-price {
  .offers-old-price {
    @apply text-[#8a8a8a] text-base mb-1;
  }
}

.offers-discount {
  @apply border-[#77e68c];
}

@media (max-width: 1023px) {
  .offers-header {
    scrollbar-width: auto !important;
  }
  .offers-header::-webkit-scrollbar {
    height: 8px;
    border-radius: 4px;
    background: white;
    display: block !important;
  }
  .offers-header::-webkit-scrollbar-thumb {
    background: #fd5a03;
    border-radius: 4px;
  }
  .offers-header::-webkit-scrollbar-track {
    background: white;
  }
}
