@import "tailwindcss";
@import "./styles/swiper.css";
@import "./styles/offers.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.custom-container {
  position: relative;
  max-width: 1300px;
  padding: 0 24px;
  margin: 0 auto;
}

.button-primary {
  @apply h-14 bg-gradient-to-r from-[#ED903F] text-white rounded-full to-[#FF5500] flex items-center justify-center font-bold transition-all duration-200;

  &:hover {
    @apply scale-105;
  }
}
