@import "tailwindcss";
@import "./styles/swiper.css";
@import "./styles/offers.css";

.custom-container {
  position: relative;
  max-width: 1300px;

  margin: 0 auto;
}

.button-primary {
  @apply h-14 bg-gradient-to-r from-[#ED903F] text-white rounded-full to-[#FF5500] flex items-center justify-center font-bold transition-all duration-200;

  &:hover {
    @apply scale-105;
  }
}
