@import "tailwindcss";
@import "./styles/swiper.css";
@import "./styles/offers.css";

.custom-container {
  position: relative;
  max-width: 1300px;

  margin: 0 auto;
}

.button-primary {
  @apply h-12 bg-gradient-to-r from-[#ED903F] text-lg text-white rounded-full to-[#FF5500] flex items-center justify-center font-semibold transition-all duration-200;

  &:hover {
    @apply scale-105;
  }
}

.text-colours {
  background: var(
    --Linear,
    linear-gradient(
      90deg,
      #1e61bd 0%,
      #973abf 19.23%,
      #bc1d67 55.29%,
      #cb1633 80.29%,
      #b84100 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
