<div class="trader-cta">
  <div class="custom-container">
    <div class="trader-cta-content">
      <div class="trader-cta-content-title">
        <div class="text-2xl lg:text-3xl font-semibold mb-4">
          Eu <span class="line">quero</span> vou ser um trader vencedor
        </div>
        <div class="text-lg font-normal">
          Liberta-se do modelo ultrapassado e antigo.
        </div>
        <div class="text-lg font-normal">
          Alcance sucesso de maneira mais sustentável com a nossa mesa.
        </div>
      </div>
    </div>
  </div>
</div>
